.collapse {
  // border: solid 2px violet;
  width: 47%;
  margin-bottom: 1rem;

  &__headbarre {
    background: #ff6060;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 0.2rem 1rem 0.2rem 1rem;
    font-weight: 100;

    &--title {
      color: white;
    }

    &--chevron {
      margin-top: 0.4rem;
      height: 2rem;
      width: 2rem;
      cursor: pointer;
    }

    &--chevronUp {
      transform: rotate(180deg);
      margin-top: 0.5rem;
      height: 2rem;
      width: 2rem;
      cursor: pointer;
    }
  }

  &__descHide {
    // border: solid 2px blue;
    margin-bottom: 2rem;
    display: none;
  }

  &__descVisible {
    display: block;
    background: #f6f6f6;
    padding: 1rem;

    &--para {
      color: #ff6060;
    }
  }
}

@media (max-width: 769px) {
  .collapse {
    width: 100%;
    &__headbarre {
      &--title {
        font-size: 17px;
      }

      &--chevron {
        height: 1.5rem;
        width: 1.5rem;
      }
    }

    &__descVisible {
      &--para {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 376px) {
  .collapse {
    &__headbarre {
      &--title {
        font-size: 14px;
      }

      &--chevron {
        margin-top: 0.2rem;
        height: 1rem;
        width: 1rem;
      }
    }

    &__descVisible {
      &--para {
        font-size: 14px;
      }
    }
  }
}
