.fiche {
  color: #ff6060;
}
.fiche__galerie {
  display: flex;
  position: relative;
  transform: 50%;
}
.fiche__galerie--arrow {
  height: 6rem;
  z-index: 1;
  position: absolute;
  top: 40%;
  cursor: pointer;
}
.fiche__galerie--arrowBack {
  left: 1;
}
.fiche__galerie--arrowForward {
  right: 0;
}
.fiche__galerie--arrowHide {
  display: none;
}
.fiche__galerie--picture {
  object-fit: cover;
  height: 415px;
  width: 100%;
  border-radius: 30px;
}
.fiche__galerie--compteur {
  color: #FFFFFF;
  width: 5%;
  z-index: 1;
  position: absolute;
  margin-left: 50%;
  margin-bottom: 1rem;
  text-align: center;
  bottom: 0;
}
.fiche__info {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.fiche__infoDetail--title {
  font-size: 36px;
}
.fiche__infoHost {
  display: flex;
  justify-content: space-between;
}
.fiche__infoHost--name {
  margin-top: 0.5rem;
  height: 52px;
  width: 93px;
}
.fiche__infoHost--pic {
  object-fit: cover;
  width: 64px;
  height: 64px;
  border-radius: 100%;
}
.fiche__notes {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.fiche__notes--tagList {
  list-style-type: none;
  color: white;
  display: flex;
}
.fiche__notes--tagListItem {
  background: #ff6060;
  margin: 0.5rem;
  padding: 0.2rem 2rem 0.2rem 2rem;
  border-radius: 15px;
}
.fiche__collapses {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 4rem;
  justify-content: space-between;
}
.fiche__collapses--equipmentList {
  list-style-type: none;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 50%;
}

@media (max-width: 1300px) {
  .fiche__infoDetail--title {
    font-size: 32px;
  }
}
@media (max-width: 1130px) {
  .fiche__infoDetail--title {
    font-size: 28px;
  }
}
@media (max-width: 885px) {
  .fiche__infoDetail--title {
    font-size: 22px;
  }
  .fiche__infoDetail--lieu {
    font-size: 14px;
  }
  .fiche__notes--tagListItem {
    padding: 0.2rem 1.5rem 0.2rem 1.5rem;
    font-size: 16px;
  }
}
@media (max-width: 790px) {
  .fiche__infoDetail--title {
    font-size: 18px;
  }
  .fiche__notes--tagListItem {
    padding: 0.2rem 1rem 0.2rem 1rem;
    font-size: 14px;
  }
}
@media (max-width: 690px) {
  .fiche__notes--tagListItem {
    padding: 0.2rem 1rem 0.2rem 1rem;
    font-size: 10px;
  }
}
@media (max-width: 675px) {
  .fiche__infoDetail--title {
    font-size: 16px;
  }
  .fiche__infoDetail--lieu {
    font-size: 12px;
  }
  .fiche__infoHost {
    border: solid 2px fuchsia;
  }
  .fiche__infoHost--name {
    font-size: 14px;
  }
  .fiche__infoHost--pic {
    width: 58px;
    height: 58px;
  }
  .fiche__notes--tagList {
    display: flex;
    flex-wrap: wrap;
  }
  .fiche__notes--tagListItem {
    padding: 0.2rem 1rem 0.2rem 1rem;
    font-size: 10px;
  }
}
@media (max-width: 510px) {
  .fiche__infoDetail--title {
    font-size: 14px;
    padding-bottom: 1rem;
  }
  .fiche__infoHost {
    border: solid 2px fuchsia;
  }
  .fiche__infoHost--name {
    font-size: 12px;
  }
  .fiche__infoHost--pic {
    width: 54px;
    height: 54px;
  }
}/*# sourceMappingURL=Fiches.css.map */