.fiche{
    color: #ff6060;

    &__galerie{
        display: flex;
        position: relative;

        &--arrow{
            height: 6rem;
            z-index: 1;
            position: absolute;           
            top: 40%;
            cursor: pointer;
        }
        &--arrowBack{           
            left: 1px;
        }
    
        &--arrowForward{
            right: 0;
        }

        &--arrowHide{
            display: none;
        }
    
        &--picture{
            // border: solid 2px blue;
            object-fit: cover;
            height: 28rem;
            width: 100%;
            border-radius: 30px;
        }

        &--compteur{
            // background-color: rebeccapurple;
            color: #FFFFFF;
            width: 5%;
            z-index: 1;
            position: absolute;
            margin-left: 50%;
            margin-bottom: 1rem;
            text-align: center;
            bottom: 0;
        }

        &--compteurHide{
            display: none;
        }
    }
    
    &__infoHostRate{
        display: flex;
        justify-content: space-between;
    }

    &__info{
        // border: solid 2px red;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 1rem;
    }
    &__infoTag{
        list-style-type: none;
        color: white;
        display: flex;
        margin-top: 1rem;

        &--listItem{
            background: #ff6060;
            margin: 0.5rem;
            padding: 0.2rem 2rem 0.2rem 2rem;
            border-radius: 15px;
        }
    }   

    &__infoDetail{
        &--title{
            font-size: 36px;
        }
    }

    &__hostRate{
        // border: solid 2px green;
        display: flex;
        flex-direction: column;
    }

    &__host{
        // border: solid 2px blueviolet;
        display: flex;
        width: 11rem;
        margin-top: 1rem;
        justify-content: space-between;
        margin-bottom: 2rem;
        &--name{
            // border: solid 2px black;
            margin-top: 0.5rem;
        }

        &--pic{
            object-fit: cover;
            width: 64px;
            height: 64px;
            border-radius: 100%;           
        }
    }

    &__collapses{
        // border: solid 2px blue;
        display: flex;
        margin-top: 2rem;
        margin-bottom: 4rem;
        justify-content: space-between;

        &--equipmentList{
            list-style-type: none;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            width: 50%;
        }
    }
}


@media (max-width:769px){
    .fiche{  
        &__galerie{  
            &--arrow{
                height: 4rem;   
                top: 47%;
            }

            &--compteur{
                display: none;
            }
        }  

        &__infoDetail{
            &--title{
                font-size: 22px;
            }

            &--lieu{
                font-size: 16px;
            }
        }

        &__infoTag{
            &--listItem{
                font-size: 14px; 
                padding: 0.2rem 1rem 0.2rem 1rem;
            }
        }

        &__host{
            &--name{
                font-size: 14px;
            }
    
            &--pic{
                width: 60px;
                height: 60px;    
            }
        }

        &__collapses{
            &--equipmentListItem{
                font-size: 16px;
            }
        }
    }
}

@media (max-width:376px){
    .fiche{
        &__galerie{    
            &--arrow{
                height: 3rem;       
                top: 45%;
            }
       
            &--picture{
                height: 16rem;
            }    
        }
       
        &__infoDetail{
            &--title{
                font-size: 18px;
            }

            &--lieu{
                font-size: 12px;
            }
        }

        &__infoHostRate{
            flex-direction: column;
        }

        &__host{
            width: 8.5rem; 
            margin-top: 1rem;
            margin-bottom: 0;
            &--pic{
                width: 54px;
                height: 54px;      
            }
        }

        &__hostRate{
            flex-direction: row-reverse;
            justify-content: space-between;
        }

        &__star{
            margin-top: 1.5rem;
            margin-bottom: 0;
        }

        &__infoTag{
            &--listItem{
                margin: 0.2rem;
                padding: 0.2rem 0.5rem 0.2rem 0.5rem;
                font-size: 12px;
            }
        }  
        
        &__collapses{
            flex-direction: column;
            
            &--equipmentList{
                width: 16rem;
            }
            
            &--equipmentListItem{
                font-size: 14px;
            }
        }
    } 
    
    
}