.contain {
  background: #f6f6f6;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 25px;
}

@media (max-width: 376px) {
  .contain {
    // border: solid 2px blue;
    background: #ffffff;
    margin-top: 0;
  }
}
